:host {
  display: flex;
}

mat-card {
  width: 100%;
  position: relative;
  &-content {
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.changing {
  background-color: #4a6163;
  opacity: 0.7;
  color: white;
}
